body {
    background-color: gainsboro;
}

#heading {
    background-color: rgb(136, 133, 133);
    display: inline-block;
    width: 35%;
    height: 15%;
    margin-top: 13;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
}

#p1 {
    font-weight: 600;
    color: black;
}

#btn1 {
    color: rgb(11, 0, 0);
    border-style: groove;
    border-width: 1.5px;
    font: 600;
}

#form {
    background-color: aquamarine;
    display: inline-block;
    width: 35%;
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
}
.output {
    background-color: rgb(6, 202, 137);
    display: inline-block;
    width: 35%;
    max-height: max-content;
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
}

#btn2 {
    float: left;
}
#btn3 {
    float: right;
}
